<h2>Welcome!</h2>
<p>Welcome to the BeerMe! web interface!  Here you can view and add to the list of beer recipes that you can brew and rate for yourself!
</p>
<p>
<%= link_to 'Check them out!', beers_path %>
</p>
